.main_header {
  background-color: brown;
  color: white;
}

.sub_headers {
  background-color: brown;
}

.sub_headers {
  color: ghostwhite;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.organized_list ul, .organized_list header, .organized_list h4 {
  display: inline-block;
}

.organized_list ul ul {
  margin-left: 10px;
}

#achievements li {
  display: inline-block;
  color: white;
}

#achievements {
  background-color: red;
}

#schedule_selector li {
  display: inline-block;
  color: ghostwhite;
}

#schedule_selector ul {
  background-color: green;
}

#tasks h4 {
  background-color: green;
  color: ghostwhite;
}
